# Reading data from Excel: The `readxl` package
R can read in data from Excel with the `readxl` package.

The command belows reads a Excel file into an R object:

In [1]:
library(readxl)

In [2]:
runaways <- read_excel("../data/runaways_exampledata.xlsx")

The data is now loaded into R as a dataframe:

## Working directories

When loading and reading files, R is always looking at a current "working directory". The current working directory can be checked using `getwd()`

In [3]:
getwd()

[1] "D:/OneDrive/OneDrive - Aalborg Universitet/CALDISS/Aktiviteter/Workshopmateriale/R for historikere/notebooks"

This means that when reading a file and only specifying the filename (e.g. "runaways.xlsx"), R will assume it is located in the working directory.

If the file is located somewhere else, we can either change the working directory or specify the entire path to the file in the command for reading the data.

In [4]:
#Loading file by changing working directory - Note forward slashes (/)
setwd('D:/OneDrive/OneDrive - Aalborg Universitet/CALDISS/Aktiviteter/Workshopmateriale/R for historikere/data')
runaways <- read_excel("runaways_exampledata.xlsx")

In [5]:
#Specifying entire path in command
runaways <- read_excel('D:/OneDrive/OneDrive - Aalborg Universitet/CALDISS/Aktiviteter/Workshopmateriale/R for historikere/data/runaways_exampledata.xlsx')

## Inspecting the runaways data

In [6]:
dim(runaways)
head(runaways)

[1] 253   5

  name                      id  registered escaped    returned
1 Peter vesmand             590 21/03/1712 29/10/1716 03/11/1716
2 Thomas Petersen           591 21/03/1712 17/10/1713 26/10/1713
3 Niels Jensen Skaaning     592 31/03/1712 25/08/1716 02/09/1716
4 Niels Jensen Skaaning     592 31/03/1712 21/09/1716 13/11/1716
5 [ ] Jens Sönner           594 26/04/1712 00/00/1716 NA
6 Magnus Bendixsen / Mogens 599 08/03/1713 09/07/1719 11/11/1720

What are the "registered", "escaped" and "returned" columns showing? What would be interesting to do with them?

In [7]:
head(runaways)

  name                      id  registered escaped    returned
1 Peter vesmand             590 21/03/1712 29/10/1716 03/11/1716
2 Thomas Petersen           591 21/03/1712 17/10/1713 26/10/1713
3 Niels Jensen Skaaning     592 31/03/1712 25/08/1716 02/09/1716
4 Niels Jensen Skaaning     592 31/03/1712 21/09/1716 13/11/1716
5 [ ] Jens Sönner           594 26/04/1712 00/00/1716 NA
6 Magnus Bendixsen / Mogens 599 08/03/1713 09/07/1719 11/11/1720

In [8]:
class(runaways$registered)

[1] "character"

In [9]:
# Stored as character - R does not now how to evaluate!
runaways$escaped[1] - runaways$registered[1]

ERROR: Error in runaways$escaped[1] - runaways$registered[1]: non-numeric argument to binary operator

# Working with dates: The `lubridate` package
We have worked with numeric and text classes before but R also has a `date` class. 

The base R functionality of working with dates can be a bit tricky but `lubridate` makes it very simple!

*Install and load the `lubridate` package.*

In [10]:
library(lubridate)
library(tidyverse)

Attaching package: 'lubridate'


The following object is masked from 'package:base':

    date


-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.2.1     v purrr   0.3.2
v tibble  2.1.3     v dplyr   0.8.3
v tidyr   1.0.0     v stringr 1.4.0
v readr   1.3.1     v forcats 0.4.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x lubridate::as.difftime() masks base::as.difftime()
x lubridate::date()        masks base::date()
x dplyr::filter()          masks stats::filter()
x lubridate::intersect()   masks base::intersect()
x dplyr::lag()             masks stats::lag()
x lubridate::setdiff()     masks base::setdiff()
x lubridate::union()       masks base::union()

In [11]:
# Some example dates - all stored as character
date1 <- "29 aug 1876"
date2 <- "1770-11-26"
date3 <- "12.26.1810"

lapply(c(date1, date2, date3), class)

[[1]]
[1] "character"

[[2]]
[1] "character"

[[3]]
[1] "character"

Converting to dates with `lubridate` is very simple! You just need to know the order of the information in the date (year, month, date).

The main function for converting is `ymd()` (short for year-month-date). This will take a character class object and convert to a date.

A function is there for each combination of year-month-date; meaning you just have to shuffle the letters around to fit the format:

In [12]:
date1 <- dmy(date1)
date2 <- ymd(date2)
date3 <- mdy(date3)

lapply(c(date1, date2, date3), class)

[[1]]
[1] "Date"

[[2]]
[1] "Date"

[[3]]
[1] "Date"

When stored as dates, it is easy to extract components with commands as `year()`, `month()`, `day()`:

In [13]:
print(date1)
year(date1)
month(date1)
day(date1)
wday(date1, label = TRUE, locale = "English")

[1] "1876-08-29"

[1] 1876

[1] 8

[1] 29

[1] Tue
Levels: Sun < Mon < Tue < Wed < Thu < Fri < Sat

Date objects allow us to calculate time differences:

In [14]:
date1 - date2

Time difference of 38627 days

Calculating differences between two dates creates a `difftime` object by default. `difftime` objects are more useful for shorter differences. For longer time differences, it is more useful to work with `interval()`.

With intervals, we can ask the number of days, years, months in the interval with `as.period()`.

In [15]:
# Create time difference as interval
time_int <- interval(date2, date1)

# Display time differences with different units
as.period(time_int, unit = "days")
as.period(time_int, unit = "months")
as.period(time_int, unit = "years")

[1] "38627d 0H 0M 0S"

[1] "1269m 3d 0H 0M 0S"

[1] "105y 9m 3d 0H 0M 0S"

It is also possible to coerce directly to a numeric object with the specified units with `as.numeric()`.

In [16]:
# Create time difference as interval
time_int <- interval(date2, date1)

# Numeric coercion
as.numeric(time_int, "years")

[1] 105.755

Because `lubridate` is a part of the tidyverse, the functions supports vectors or vector-like objects as well!

In [17]:
dates <- c("1876-12-21", "1873-11-01", "1885-01-30", "1842-06-10")
dates <- ymd(dates)
dates

date_ints <- interval(ymd("1800-01-01"), dates)
as.numeric(date_ints, "years")

[1] "1876-12-21" "1873-11-01" "1885-01-30" "1842-06-10"

[1] 76.96920 73.83162 85.07871 42.43669

# EXERCISE 6: WORKING WITH DATES

Make sure you have the runaways data loaded.

1. Convert the columns containing dates to date formats using the proper variation of `ymd()`
2. Create a new column calculating the time difference in *days* between `registered` and `escaped`. Use `interval()` and `as.numeric()`
3. Determine the shortest and longest stays (you can use the `arrange()` command)

In [18]:
head(runaways)

  name                      id  registered escaped    returned
1 Peter vesmand             590 21/03/1712 29/10/1716 03/11/1716
2 Thomas Petersen           591 21/03/1712 17/10/1713 26/10/1713
3 Niels Jensen Skaaning     592 31/03/1712 25/08/1716 02/09/1716
4 Niels Jensen Skaaning     592 31/03/1712 21/09/1716 13/11/1716
5 [ ] Jens Sönner           594 26/04/1712 00/00/1716 NA
6 Magnus Bendixsen / Mogens 599 08/03/1713 09/07/1719 11/11/1720

In [19]:
runaways <- runaways %>%
    mutate(registered = dmy(registered),
          escaped = dmy(escaped)) %>%
    mutate(time_jailed = interval(registered, escaped)) %>%
    mutate(days_jailed = as.numeric(time_jailed, "days"))

Warning message:
" 7 failed to parse."

In [20]:
head(arrange(runaways, days_jailed), 1)

  name              id  registered escaped    returned
1 Peder Hendrichsen 777 1719-09-21 1719-10-18 NA
  time_jailed                    days_jailed
1 1719-09-21 UTC--1719-10-18 UTC 27

In [21]:
head(arrange(runaways, desc(days_jailed)), 1)

  name               id   registered escaped    returned
1 Hans David Hartong 1133 1729-03-08 1750-03-28 NA
  time_jailed                    days_jailed
1 1729-03-08 UTC--1750-03-28 UTC 7690

# Saving files with `readr`

R can already save files in some other formats but the `readr` package is often more intuitive to use.

Check your directory with `getwd`. Directory can be changed with `setwd`.

We can save an excel .csv-file (comma-separated values) with `readr` using `write_excel_csv`:

In [22]:
library(readr)
write_excel_csv(runaways, path = "my_data.csv", delim = ";", col_names = TRUE)

**Code breakdown:**

| Code | Description |
|:-----|:------------|
|`data` | The object we want to save |
|`path = "my_data.csv"` | The filename - .csv for comma-separated values |
|`delim = ";"` | Setting the separator between values to be commas |
|`col_names = TRUE` | Specifying that data contains column names |